services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - app_network
    env_file:
      - .env
    volumes:
      - ./src/database/postgresql/versions:/app/src/database/postgresql/versions:rw
      - ./resources:/app/resources:rw
      - app_storage:/app/storage:rw

  database:
    image: pgvector/pgvector:pg16
    environment:
      - POSTGRES_DB=${POSTGRESQL_DATABASE}
      - POSTGRES_USER=${POSTGRESQL_USER}
      - POSTGRES_PASSWORD=${POSTGRESQL_PASSWORD}
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - postgresql_data:/var/lib/postgresql/data
    networks:
      - app_network

  coturn:
    image: coturn/coturn:4.7
    ports:
      - ${COTURN_MIN_PORT}-${COTURN_MAX_PORT}:${COTURN_MIN_PORT}-${COTURN_MAX_PORT}/udp
      - ${COTURN_MIN_PORT}-${COTURN_MAX_PORT}:${COTURN_MIN_PORT}-${COTURN_MAX_PORT}/tcp
      - ${COTURN_SECURE_PORT}:${COTURN_SECURE_PORT}/tcp
    volumes:
      - ${CERTS_PATH}/${CERT_FILE}:/etc/coturn/certs/fullchain.pem:ro
      - ${CERTS_PATH}/${PKEY_FILE}:/etc/coturn/certs/privkey.pem:ro
    command:
      - "-n"
      - "--log-file=stdout"
      - "--listening-ip=0.0.0.0"
      - "--external-ip=${PUBLIC_IP}"
      - "--relay-ip=${PUBLIC_IP}"
      - "--realm=${DOMAIN}"
      - "--use-auth-secret"
      - "--static-auth-secret=${COTURN_SECRET}"
      - "--lt-cred-mech"
      - "--min-port=${COTURN_MIN_PORT}"
      - "--max-port=${COTURN_MAX_PORT}"
      - "--tls-listening-port=${COTURN_SECURE_PORT}"
      - "--cert=/etc/coturn/certs/fullchain.pem"
      - "--pkey=/etc/coturn/certs/privkey.pem"
    networks:
      - app_network

  nginx:
    image: nginx:1.29
    ports:
      - "${NGINX_HTTP_PORT}:${NGINX_HTTP_PORT}"
      - "${NGINX_HTTPS_PORT}:${NGINX_HTTPS_PORT}"
    environment:
      - NGINX_HTTP_PORT=${NGINX_HTTP_PORT}
      - NGINX_HTTPS_PORT=${NGINX_HTTPS_PORT}
      - NGINX_DOMAIN=${DOMAIN}
      - PORT=${PORT}
    volumes:
      - ./nginx.conf.template:/etc/nginx/templates/default.conf.template:ro
      - ./resources/certs:/etc/nginx/certs:ro
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:

volumes:
  app_storage:
  postgresql_data:
