services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
        USER_NAME: ${USER_NAME}
        STORAGE_DIRECTORY_NAME: ${STORAGE_DIRECTORY_NAME}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - app_network
    env_file:
      - .env
    volumes:
      - ./src/migration:/app/src/migration:rw
      - ./resources:/app/resources
      - app_storage:/app/storage

  database:
    image: pgvector/pgvector:pg16
    environment:
      - POSTGRES_DB=${POSTGRESQL_DATABASE}
      - POSTGRES_USER=${POSTGRESQL_USER}
      - POSTGRES_PASSWORD=${POSTGRESQL_PASSWORD}
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - postgresql_data:/var/lib/postgresql/data
    networks:
      - app_network

  coturn:
    image: coturn/coturn:4.7
    ports:
      - ${COTURN_MIN_PORT}-${COTURN_MAX_PORT}:${COTURN_MIN_PORT}-${COTURN_MAX_PORT}/udp
      - ${COTURN_MIN_PORT}-${COTURN_MAX_PORT}:${COTURN_MIN_PORT}-${COTURN_MAX_PORT}/tcp
      - ${COTURN_SECURE_PORT}:${COTURN_SECURE_PORT}/tcp
    volumes:
      - ${CERTS_PATH}/${CERT_FILE}:/etc/coturn/certs/fullchain.pem:ro
      - ${CERTS_PATH}/${PKEY_FILE}:/etc/coturn/certs/privkey.pem:ro
    command:
      - "-n"
      - "--log-file=stdout"
      - "--listening-ip=0.0.0.0"
      - "--external-ip=${PUBLIC_IP}"
      - "--relay-ip=${PUBLIC_IP}"
      - "--realm=${DOMAIN}"
      - "--use-auth-secret"
      - "--static-auth-secret=${COTURN_SECRET}"
      - "--lt-cred-mech"
      - "--min-port=${COTURN_MIN_PORT}"
      - "--max-port=${COTURN_MAX_PORT}"
      - "--tls-listening-port=${COTURN_SECURE_PORT}"
      - "--cert=/etc/coturn/certs/fullchain.pem"
      - "--pkey=/etc/coturn/certs/privkey.pem"
    networks:
      - app_network

  caddy:
    image: caddy:2.10.2
    environment:
      - DOMAIN=${DOMAIN}
      - REVERSE_PROXY=${CADDY_REVERSE_PROXY}
      - REVERSE_PROXY_PORT=${CADDY_REVERSE_PROXY_PORT}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - app_network
    restart: unless-stopped
    depends_on:
      - nginx

  nginx:
    image: nginx:1.29
    environment:
      - NGINX_HTTP_PORT=80
      - NGINX_DOMAIN=${DOMAIN}
      - PORT=${PORT}
    volumes:
      - ./nginx.conf.template:/etc/nginx/templates/default.conf.template:ro
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
  web_app_network:
volumes:
  app_storage:
  postgresql_data:
  caddy_data:
  caddy_config:
