# ServerApplication
fastapi==0.116.1
uvicorn==0.34.0
opencv-python==4.12.0.88
numpy==2.2.6
sse-starlette==3.0.2
uvicorn[standard]==0.34.0
PyJWT==2.10.1
python-dotenv==1.1.1
aiortc==1.13.0
aiohttp==3.12.15
python-multipart
ultralytics==8.3.223

# CLIP-ReID
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
yacs==0.1.8
timm==0.9.0
scikit-learn==1.7.2
tqdm==4.66.1
ftfy==6.1.1
regex==2021.11.10

# database
psycopg==3.2.12
pgvector==0.4.1
sqlalchemy==2.0.44
alembic==1.17.0
